
/* body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
} */

.flex-container {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  border: 1px solid grey;
}

.flex-container > div {
  padding: 10px;
}


/* {
  -ms-flex: 1 4 auto;
      flex: 1 4 auto;
  padding: 2rem;
  border: 1rem double #1a1a1a;
  position: relative;
  background: #fff;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  overflow: scroll;
} */

.header {
  border: 20px solid linear-gradient(to bottom right, rgb(104, 189, 166), rgb(36, 235, 163));
  background: linear-gradient(to bottom right, rgb(104, 189, 166), rgb(36, 235, 163));
  padding: 40px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  border-radius: 0px;
  color: white;
  letter-spacing: 3px;
  margin: 0px;
}

.btn-primary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin: 50px;
  text-align: center;
  border-radius: 10px;
  }

.btn-primary:hover {
  background-color: rgb(104, 189, 166);
}

.homebtn {
  text-align: center;
}

.product-item {
  margin: 20px;
}

.product-item img {
  width: 200px;
  height: 200px;
}

.order-list {
  text-align: center;
  margin: 20px;
  border: 1px solid grey;
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ul.order-ul li button {
  border: 0;
  display: none;
  line-height: 1;
  padding: 0; */

button.facebook {
  background-color: rgb(61, 133, 218);
  color: white;
  padding: 3px;
}
